/* === Variables === */
:root {
  --primary-color: #323232;
  --secondary-color: #14FFEC;
  --tertiary-color: #212121;
  --quarternary-color: #087A91;
}


/* === Variables End === */

/* === General === */

* {
  box-sizing: border-box;
  text-align: center;
  color: var(--secondary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.divider {
  border-color: var(--secondary-color);
  margin: auto;
  margin-bottom: 1rem;
  width: 67%;
}

h2, h3, h4, h5, h6 {
  color: var(--quarternary-color);
}

/* === General End === */

/* === Header Start === */
header {
  color: white;
  margin-bottom: 1.0rem;
}

header a {
  color: white;
  text-decoration: none;
}

.name {
  color: var(--secondary-color);
}

.title {
  color: white;
}

.profile-picture {
  flex-basis: 25%;
  border-radius: 50%;
}

/* === Header End === */


/* === Portfolio === */
.about-me {
  margin-top: 1.5rem;
  padding: 0 0.5rem;
}
.about-website {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}
.portfolio-heading {
  color: var(--quarternary-color);
  margin-bottom: 0.5rem;
}

.portfolio-img {
  border: 1px solid white;
  border-radius: 5%;
}

.portfolio-item {
  background-color: var(--tertiary-color);
  border: 1px solid var(--quarternary-color);
  border-radius: 5%;
  flex-basis: 25%;
  padding: 5px 5px 1px 5px;
}

.emphasized-portfolio-item {
  flex-basis: 50%;
}

.project-grouping {
  margin-bottom: 1rem;
}

p {
  color: var(--secondary-color) !important;
}
/* === Portfolio End === */

/* === Footer === */
footer {
  margin-top: 1.0rem;
}

/* .icons {
  padding-right: 5% !important;
} */

.icon {
  height: 30px;
  width: 25px;
  margin-right: 5px; 
}

/* === Footer End === */

